__pychache__/
core/__pychache__/
subsystem/__pychache__/
.pylintrc
/data/models/llama-7b-chat.gguf
data/models/Meta-Llama-3.1-8B-Instruct-Q6_K.gguf
jarvis2.0_start.lnk
*.py[cod]
.venv/
/data/contex.json
